<div>
    <%# eventually item will be an object so we would call it item.name and link to item.id%>
    <%# Need to eventually change these buttons to use button_to for easy use of the controller %>
    <button data-inline="true" name="edit-<%=item%>-button" type="button"><%=item %></button>
    <%# should be a text box to allow admins to manually set the quantity after creation %>
    <p data-inline="true">Quantity: 0</p>
    <button data-inline="true" name="increase-<%=item%>-button" type="button">Increase</button>
    <button data-inline="true" name="decrease-<%=item%>-button" type="button">Decrease</button>
    <br> <%#Need to remoce these line breaks once we had css as their only purpose is readabiliy with raw HTML and they are not accessible%>
    <br>
</div>