<h1>Inventory</h1>
<%# <button name="add-item-button" type="button" onclick="location.href='http://www.google.com'">Add Item</button> %>
<%= button_to "Add Item", action: "add" %>
<%= render partial: "item", collection: @items %>