/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(https://fonts.googleapis.com/css?family=Roboto);
 body{
   margin: 0;
   font-family: 'Roboto', sans-serif;
 }

 header{
  background: #333;
 }
 
 .header {
   text-align: center;
   background: #333;
   color: white;
 }
 
 /*.navbar*/ ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  /*.navbar*/ li {
    float: left;
  }
  
  /*.navbar*/ li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  /*.navbar*/ li a:hover {
    background-color: #111;
  }

  table, th, td {
    border:1px solid black;
  }

  table {
      width: 100%;
      margin: auto;
  }

  h1 {
    /*padding-left: 10px;*/
  }



  p {
    margin-left: 10px;
  }
  
  div {
    /*margin-left: 10px;*/
  }

.formBody {
  text-align: center;
  margin-left: 25%;
  margin-right:25%;
}
.field {
  margin-top: 10px;
}
.customForm {
  display: inline-block;
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
  background: #f2f2f2;
  border-radius: 2px;
  text-align: left;

  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;

  box-shadow: 3px 3px 2px rgb(151, 150, 150);

}